
html{
    background-color: #062e63;
}

/*--menu-suspenso--*/
nav#tree li.has-children{
    cursor: pointer;
    position: relative;
}


nav#tree li.has-children::before{
    content: '\f107';
    color: gold;
    position: absolute;
    font-family: FontAwesome;
    font-size: 2rem;
    right: 1rem;
}

li > ul {
    display: none;
}
li.open > ul {
    display: block;
}